*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src: url(fonts/poppins_semi-bold.ttf);
}
/* AWARDS */
.awards-sec{
    margin-top: 120px;
}
.awards img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.awards{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.award-list{
    width: 30%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
}
.award-list{
    h2{
        background-color: #f8bdd8;
        border-radius: 2rem;
        padding: 10px 0;
    }
    p{
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        border: 1px solid #f8bdd8;
        padding: 4px 0;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .awards-sec{
        margin-top: 60px;
    }
    .awards img{
        width: 120px;
    }
    .award-list{
        width: 80%;
        margin-top: 3rem;
    }
    .award-list{
        h2{
            background-color: #f8bdd8;
            border-radius: 2rem;
            padding: 8px 0;
            font-size: 20px;
        }
        p{
            background-color: rgb(255, 255, 255);
            border-radius: 1rem;
            border: 1px solid #f8bdd8;
            padding: 4px 0;
            width: 46%;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .award-list{
        width: 60%;
        p{
            width: 30%;
        }
    }   
}
@media (min-width: 768px) and (max-width: 1024px) {
    .award-list{
        width: 60%;
        p{
            width: 30%;
        }
    }
}