*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src: url(fonts/poppins_semi-bold.ttf);
}
/* CURSOR */
.cursor {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid #000000;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
    
  }

  .expand {
    background: transparent;
    animation: moveCursor2 .2s forwards;
    border: 1px solid #000000;
  }
  
  @keyframes moveCursor1 {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(.8);
    }
  }
  
  @keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }
  
    50% {
        transform: scale(2);
    }
  
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }
  @media (max-width: 768px) {
    .cursor{
        display: none;
    }
  }
  
/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.boxone{
    background-color: transparent;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    animation: spin1 1.5s cubic-bezier(.47,1.64,.41,.8);
}
.boxtwo{
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    rotate: -45deg;
    animation: spin2 1.5s cubic-bezier(.47,1.64,.41,.8);
}
.texth{
    position: absolute;
    font-size: 26px;
    font-family: pop;
}
@keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-45deg); }
}
@keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}

/* LOGO SECTION */
.topnav{
    display: flex;
    flex-wrap: wrap;
}
.L{
    padding: 50px 100px;
    position: absolute;
    z-index: 5;        
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: transparent;
    border: 1px solid black;
    width: 78px;
    height: 78px;       
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);

}
.box2{
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    width: 78px;
    height: 78px;
    rotate: -45deg;        
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);

}
.text{
    position: absolute;
    width: 30px;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
.L:hover{
    .box1{
        opacity: 0;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    }
    .box2{
        rotate: 45deg;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        width: 48px;
        height: 48px;
    }
    .text{
        width: 40px;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    }
    cursor: pointer;
}
/* logo mobile */
@media (max-width: 768px) {
    .L{
        padding: 20px 25px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box1{
        background-color: transparent;
        border: 1px solid black;
        width: 38px;
        height: 38px;
    }
    .box2{
        position: absolute;
        background-color: transparent;
        border: 1px solid black;
        width: 38px;
        height: 38px;
        rotate: -45deg;
    }
    .text{
        position: absolute;
        width: 15px;
    }
    .logo:hover{
        .box1{
            opacity: 0;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        }
        .box2{
            rotate: 45deg;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
            width: 28px;
            height: 28px;
        }
        .text{
            width: 22px;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        }
    }
}



/* NAV SECTION */
nav{
    position: relative;
    display: flex;
    justify-content: center;
    left: 0%;
    top: 50px;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 400px;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-family: pop;
    background-color: white;
    border: 1px solid #cacaca;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar a:hover{
    color: #5a5a5a;
    border: 1px solid black;
}

.hire{
    position: relative;
    float: right;
    right: 100px;
}
.hireme{
    margin-top: 10px;
}
.hire a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: pop;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    padding: 5px 30px;
    border-radius: 20px;
}
.hire a:hover{
    background-color: white;
    color: black;
    transition: .2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
}
/* NAV MOBILE */
@media (max-width: 768px) {
    nav{
        margin-left: 100px;
        top: 16px;
        display: flex;
        justify-content: center;
    }
    .navbar{
        display: flex;
        justify-content: center;
        width: 200px;
        right: -2%;
    }
    .navbar a{
        color: black;
        text-decoration: none;
        font-family: pop;
        border: 1px solid #a5a5a5;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.514);
        backdrop-filter: blur(2px);
    }
    .hire{
        position: relative;
        float: none;
        right: 0px;
    }
    .hireme{
        display: none;
    }
    .hire a{
        font-size: 12px;
        padding: 10px 25px;
        border-radius: 20px;
    }
}
/* TAB */
@media (min-width: 424px) and (max-width: 768px) {
    nav{
        margin-left: 0%;
        display: flex;
        justify-content: center;
    }
}

/* HERO SECTION */
.hero{
    position: relative;
    top: 150px;
    width: 100%;
    z-index: -99999;
}
.uiux{
    position: relative;
    font-family: pop;
    font-size: 150px;
    text-align: center;
    margin-left: 130px;
    color: black;
}
.onlyuiux{
    color: black;
    /* -webkit-text-stroke: 6px rgba(0, 0, 0, 0.171); */
}
.typewrite{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #000000;
    animation: cursor 1s step-start infinite, 
       text 5s steps(18) alternate infinite;
}
@keyframes cursor {
    0%, 100% { 
      border-color: #000000; 
    }
  }
  
  @keyframes text {
    0% { 
      width: 0; 
    }
    100% { 
      width: 24ch; 
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    .uiux{
        font-size: 80px;
    }
  }

  /* shadow */

  .typewrite-shadow{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #000000;
    animation: cursor 1s step-start infinite, 
       text 5s steps(18) alternate infinite;
    transform: rotatex(35deg);
    top: 10px;
    opacity: .4;
    filter: blur(4px);
    
}
@keyframes cursor {
    0%, 100% { 
      border-color: #000000; 
    }
  }
  
  @keyframes text {
    0% { 
      width: 0; 
    }
    100% { 
      width: 24ch; 
    }
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .typewrite{
        margin-top: -30px;
    }
    .typewrite-shadow{
        margin-top: -30px;
        
    }
  }
.myprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.profile img{
    width: 600px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.mydetails h1{
    font-size: 50px;
    margin-bottom: 0;
}
.mydetails p{
    margin-bottom: 0;
}
.mydetails h5{
    font-size: 18px;
    margin-top: -10px;
}
.mydetails{
    background-color: #000000;
    padding: 5px 50px;
    color: white;
    border-radius: 16px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .myprofile{
        margin-top: 0px;
    }
}
@media (max-width: 768px) {
    .hero{
        position: relative;
        top: 80px;
        width: 100%;
    }
    .uiux{
        font-family: pop;
        font-size: 55px;
        text-align: center;
        line-height: 112%;
        margin-left: 0%;
    }
    .onlyuiux{
        color: black;
        -webkit-text-stroke: 4px rgba(0, 0, 0, 0.171);
    }
    .myprofile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
    }
    .profile img{
        width: 300px;
    }
    .mydetails h1{
        font-size: 25px;
    }
    .mydetails p{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .mydetails h5{
        font-size: 12px;
    }
    .mydetails{
        background-color: #000000;
        padding: 5px 30px 0px;
        color: white;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.411) 0px 2px 8px 0px;
    }
    .typewrite{
        font-size: 12px;
        top: -40px;
    }
    .typewrite-shadow{
        top: -30px;
        opacity: .4;
        filter: blur(4px);
        transform: rotatex(15deg);
        left: 50%;
        font-size: 10px;
    }   
}
@media (min-width: 768px) and (max-width: 1024px) {
    .uiux{
        font-size: 60px;
    }
    .myprofile{
        margin-top: 0px;
    }
    .typewrite{
        margin-top: -30px;
    }
    .typewrite-shadow{
        margin-top: -30px;
    }
}

/* AFTER EFFECTS */
.float .ae{
    width: 60px;
    position: relative;
    float: right;
    right: 30%;
    rotate: -20deg;
}
.float{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
/* PREMIERE PRO */
.float1 .pr{
    width: 60px;
    position: relative;
    float: right;
    right: 20%;
    top: 50px;
    rotate: 28deg;
}
.float1{
    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating1 {
    from { transform: translate(0,  0px); }
    45%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* ADOBE XD */
.float .xd{
    width: 60px;
    position: relative;
    float: left;
    left: 30%;
    rotate: 20deg;
}
.float{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* RUSH */
.float1 .rush{
    width: 60px;
    position: relative;
    float: left;
    left: 20%;
    top: 50px;
    rotate: -28deg;
}
.float1{
    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating1 {
    from { transform: translate(0,  0px); }
    45%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* ILLUSTRATION */
.float2 .ai{
    width: 60px;
    position: relative;
    float: left;
    left: 20%;
    top: -150px;
    rotate: 20deg;
}
.float2{
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating3 {
    from { transform: translate(0,  0px); }
    25%  { transform: translate(0, 15px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}

/* PHOTOSHOP */
.float2 .ps{
    width: 60px;
    position: relative;
    float: right;
    right: 20%;
    top: -150px;
    rotate: -20deg;
}
.float2{
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating3 {
    from { transform: translate(0,  0px); }
    25%  { transform: translate(0, 15px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}

/* CREATIE */
.float3 .creatie{
    width: 60px;
    position: relative;
    float: right;
    right: 25%;
    top: -220px;
    rotate: 0deg;
}
.float3{
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating4 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

/* BLENDER */
.float3 .blender{
    width: 60px;
    position: relative;
    float: left;
    left: 6%;
    top: -80px;
    rotate: 0deg;
}
.float3{
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating4 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}
/* SPLINE */
.float2 .spline{
    width: 60px;
    position: relative;
    float: right;
    right: 6%;
    top: -80px;
}
.float2{
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating3 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}
/* FIGMA */
.float3 .figma{
    width: 60px;
    position: relative;
    float: left;
    left: 25%;
    top: -220px;
    rotate: 0deg;
}
.float3{
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating4 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

/* MOBILE */
@media (max-width: 768px) {
    .floats{
        margin: 0 1%;
        box-sizing: border-box;
    }
    .float .ae{
        width: 25px;
        float: right;
        right: 12.5%;
    }
    .float1 .pr{
        width: 25px;
        float: right;
        right: 13.5%;    
    }
    .float .xd{
        width: 25px;
        float: left;
        left: 5%;
    }
    .float1 .rush{
        width: 25px;
        float: left;
        left: 5%;   
    }
    .float2 .ai{
        width: 25px;
        float: left;
        left: 5%;
        top: 0%;
    }
    .float2 .ps{
        width: 25px;
        float: right;
        right: 13%;
        top: 0%;
    }
    .float3 .creatie{
        width: 25px;
        float: right;
        right: 0%;
        top: -50px;
    }
    .float3 .figma{
        width: 25px;
        float: left;
        left: -10%;
        top: -50px;
    }
    .float3 .blender{
        width: 25px;
        float: left;
        left: -30%;
        top: -66px;
    }
    .float2 .spline{
        width: 20px;
        float: right;
        right: -22%;
        top: -60px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .floats{
        margin-left: -2%;
    }
    .float3 .blender{
        left: -10%;
    }
    .float2 .spline{
        right: -10%;
    }
    .float3 .figma{
        left: 0%;
    }
    .float3 .creatie{
        right: 0%
    }
    .float1 .rush{
        float: left;
        left: 15%;  
        margin-top: 5%;
    }
    .float1 .pr{
        float: right;
        right: 15%;    
        margin-top: 5%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .float .ae{
        width: 45px;
        right: 12%;
    }
    .float1 .pr{
        width: 45px;
        right: 10%;
    }
    .float .xd{
        width: 45px;
        left: 8%;
    }
    .float1 .rush{
        width: 45px;
        left: 8%;
    }
    .float2 .ai{
        width: 45px;
        left: 8%;
    }
    .float2 .ps{
        width: 45px;
        right: 10%;
    }
    .float3 .creatie{
        width: 45px;
        right: -4%;
    }
    .float3 .figma{
        width: 45px;
        left: -8%;
    }
    .float3 .blender{
        width: 40px;
        left: -10%;
    }
    .float2 .spline{
        width: 40px;
        right: -8%;
    }
}

/* WHAT CAN I DO */
.projectcontainer{
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    top: 15px;
}
.myendeavors{
    font-family: pop;
    font-size: 45px;
    background-color: transparent;
    border: 1px solid #cacaca;

    text-align: center;
    border-radius: 10px;
}
.myproject{
    margin-top: 60px;
}
.image img{
    width: 461px;
    border-radius: 30px;
}
.image:hover{
    img{
    transition: .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
}
.details{
    padding: 0px 30px;
}
.project{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

/* MOBILE */
@media (max-width: 768px) {
    .projectcontainer{
        top: 100px;
        margin: 5%;
        
    }
    .myendeavors{
        font-size: 40px;
        border: none;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        display: flex;
        padding: 10px 0px;
    }
    .details{
        padding: 0%;
    }
    .project{
        flex-wrap: wrap;
    }
    .image img{
        width: 100%;
    }
    .myproject{
        margin-top: 0%;
    }
}
/* TAB */
@media (min-width: 1024px) and (max-width: 1440px) {
    .image img{
        width: 340px;
    }
    .projectcontainer{
        top: 80px;
        margin-bottom: 10%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .image img{
        width: 300px;
    }
}

/* WEB DESIGN PAGE */
.webprojects{
    position: relative;
    top: 200px;
    margin: 0 15%;
    h1{
        padding-bottom: 20px;
        text-align: center;
    }
}
.one img{
    width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
    border-radius: 10px;
}
.one img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .5s;
}
.one{
    padding: 20px;
}
.one h2{
    padding: 15px;
}
.one{
    text-align: center;
    color: #5a5a5a;
}
.one:hover{
    color: #000;

}

.projects{
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image{
    position: relative;
}
.web-btn{
    position: absolute;
    bottom: 10%;
    right: 6%;
}
.web-button{
    border: 1px solid #ffffff;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.884);
}
.web-button:hover{
    color: #ffffff;
    border: 1px solid #e0e0e000;
    background: rgba(255, 255, 255, 0.137);
}


/* MOBILE */
@media (max-width: 768px) {
    .webprojects{
        top: 100px;
        margin: 0 10%;
    }
    .one img{
        width: 300px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        height: 160px;
    }
    .projects{
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .one{
        padding: 10px;
    }
    .one h1{
        padding: 5px;
    }
}

/* ABOUT US */
.aboutme{
    position: relative;
    top: 150px;
    margin-left: 15%;
    margin-right: 15%;
}
.about{
    padding: 30px;
    background-color: #f7f7f7;
}
.about h1{
    font-family: pop;
    font-size: 56px;
    text-align: center;
    margin-top: -60px;
}
.myself{
    padding: 20px 0px;
}
.resume-btns{
    display: flex;
    gap: 30px;
}

/* MOBILE */
@media (max-width: 768px) {
    .aboutme{
        top: 120px;
        margin: 0 5%;
    }
    .about h1{
        font-size: 46px;
    }
    .btn-primary{
        margin-top: 10px;
    }
    .resume-btns{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
}

/* Index FOOTER */
.ifooter{
    position: relative;
    top: 40px;
    background-color: #000;
    color: white;
}
.ifooterbox{
    display: flex;
    justify-content: center;
}
.ifooterin{
    margin: 50px;
    text-align: center;
}
.ifooter img{
    padding: 20px;
}
.designedby{
    position: absolute;
    bottom: 0%;
    right: 20px;
    text-decoration: underline;
    font-size: 12px;
}
.designedby a{
    color: white;
}

/* MOBILE */
@media (max-width: 768px) {
    .ifooter{
        position: relative;
        top: 130px;
    }
    .ifooterin{
        margin: 20px;
        text-align: center;
    }
    .ifooter img{
        padding: 10px;
    }
    .ititle p{
        font-size: 10px;
    }
    .designedby{
        font-size: 8px;
        right: 10px;
        bottom: -10px;
    }
}
/* TAb */
@media (min-width: 1024px) and (max-width: 1440px) {
    .ifooter{
        top: 0px;
    }
}

/* AWARDS */
.award-section{
    margin-top: 70px;
}
.bgcomp{
    background-color: #1D284E;
    width: 200px;
    height: 100px;
    position: absolute;
    margin-left: -30px;
    margin-top: -30px;
    z-index: -5555;
    border-radius: 20px;
}
.award-card{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    height: 245px;
    display: block;
    margin: auto;
    border-radius: 20px;
}
.award-card h1{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 16px;
    color: #1D284E;
}
.award-btn-section{
    background-color: rgb(241, 241, 241);
    width: 96%;
    height: 120px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.award-btn-section p{
    text-align: center;
    padding: 8px;
    color: #1D284E;
}
.award-btns{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.viewaward{
    padding: 8px 26px;
    background-color: #1D284E;
    border: none;
    color: white;
    border-radius: 4px;
}
.workflow-btn{
    padding: 8px 26px;
    box-sizing: border-box;
    border: 1px solid #1D284E;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .award-card{
        height: 225px;
    }   
}
@media (max-width: 768px) {
    .bgcomp{
        width: 60px;
        height: 40px;
        margin-left: -10px;
        margin-top: -10px;
        border-radius: 20px;
    }
    .award-card{
        height: 196px;
        border-radius: 20px;
    }
    .viewaward{
        padding: 6px 16px;
        border-radius: 20px;
    }
    .workflow-btn{
        padding: 6px 16px;
        border-radius: 20px;
    }
    .award-card h1{
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #1D284E;
    }
    .award-btn-section{
        height: 136px;
        border-radius: 14px;
    }
    .award-section{
        margin-top: 50px;
    }
}

/* About FOOTER */
.afooter{
    position: relative;
    top: 400px;
    background-color: #000;
    color: white;
}
.afooterbox{
    display: flex;
    justify-content: center;
}
.afooterin{
    margin: 50px;
    text-align: center;
}
.afooter img{
    padding: 20px;
}
/* MOBILE */
@media (max-width: 768px) {
    .afooter{
        position: relative;
        top: 200px;
    }
    .afooterin{
        margin: 20px;
        text-align: center;
    }
    .afooter img{
        padding: 10px;
    }
    .atitle p{
        font-size: 10px;
    }
}
/* TAb */
@media (min-width: 1024px) and (max-width: 1440px) {
    .afooter{
        top: 250px;
    }
}

/* 3d */
.zoom{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.267);
}
canvas{
    position: absolute;
    z-index: -99999;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: #b760f1;
}
.sec1{
    position: relative;
    background-color: white;
    width: 1520px;
    height: 500px;
    box-shadow: -25px 25px 0px 0px rgba(255, 255, 255, 0.26);
    margin: auto;
    margin-top: 40%;
}
