*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: pop;
    src: url(fonts/poppins_semi-bold.ttf);
}
/* CURSOR */
.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid #000;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
  }
  
  .expand {
    background: transparent;
    animation: moveCursor2 .2s forwards;
    border: 1px solid #000000;
  }
  
  @keyframes moveCursor1 {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(.8);
    }
  }
  
  @keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }
  
    50% {
        transform: scale(2);
    }
  
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }
  @media (max-width: 768px) {
    .cursor{
        display: none;
    }
  }
  
/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.boxone{
    background-color: transparent;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    animation: spin1 1.5s cubic-bezier(.47,1.64,.41,.8);
}
.boxtwo{
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    rotate: -45deg;
    animation: spin2 1.5s cubic-bezier(.47,1.64,.41,.8);
}
.texth{
    position: absolute;
    font-size: 26px;
    font-family: pop;
}
@keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-45deg); }
}
@keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}

/* LOGO SECTION */
.topnav{
    display: flex;
    flex-wrap: wrap;
}
.L{
    padding: 50px 100px;
    position: fixed;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: transparent;
    border: 1px solid black;
    width: 78px;
    height: 78px;
}
.box2{
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    width: 78px;
    height: 78px;
    rotate: -45deg;
}
.text{
    position: absolute;
    width: 30px;
}
.logo:hover{
    .box1{
        opacity: 0;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    }
    .box2{
        rotate: 45deg;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        width: 48px;
        height: 48px;
    }
    .text{
        width: 40px;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    }
    cursor: pointer;
}
/* logo mobile */
@media (max-width: 768px) {
    .L{
        padding: 20px 25px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box1{
        background-color: transparent;
        border: 1px solid black;
        width: 38px;
        height: 38px;
    }
    .box2{
        position: absolute;
        background-color: transparent;
        border: 1px solid black;
        width: 38px;
        height: 38px;
        rotate: -45deg;
    }
    .text{
        position: absolute;
        width: 15px;
    }
    .logo:hover{
        .box1{
            opacity: 0;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        }
        .box2{
            rotate: 45deg;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
            width: 28px;
            height: 28px;
        }
        .text{
            width: 22px;
            transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
        }
    }
}

/* NAV SECTION */
nav{
    position: fixed;
    top: 60px;
    left: 300px;
    z-index: 99999;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 300px;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-family: pop;
    background-color: white;
    border: 1px solid #cacaca;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(2px);
}
.navbar a:hover{
    color: #5a5a5a;
    border: 1px solid black;
}
.hire{
    position: fixed;
    top: 70px;
    right: 100px;
}
.hireme{
    display: flex;
    justify-content: center;
}
.hire a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: pop;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #a5a5a5;
    padding: 5px 30px;
    border-radius: 20px;
}
.hire a:hover{
    background-color: white;
    color: black;
    transition: .2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
}
/* NAV MOBILE */
@media (max-width: 768px) {
    nav{
        position: fixed;
        top: 15px;
        left: 40%;
    }
    .navbar{
        display: flex;
        justify-content: center;
        width: 200px;
    }
    .navbar a{
        color: black;
        text-decoration: none;
        font-family: pop;
        background-color: white;
        border: 1px solid #a5a5a5;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 12px;
    }
    .hire{
        position: absolute;
        top: 650px;
        right: 5%;
        z-index: 99999;
        display: none;
    }
    .hireme{
        display: flex;
        justify-content: center;
    }
    .hire a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: pop;
        font-size: 12px;
        background-color: rgb(0, 0, 0);
        border: 1px solid #a5a5a5;
        padding: 10px 25px;
        border-radius: 20px;
    }
}
/* HERO SECTION */
.hero{
    position: relative;
    top: 150px;
    width: 100%;
}
.uiux{
    position: absolute;
    font-family: pop;
    font-size: 150px;
    text-align: center;
}
.uiux1{
    font-family: pop;
    font-size: 150px;
    text-align: center;
    z-index: 999999;
    -webkit-text-stroke: .5px rgb(255, 255, 255);
    color: transparent;
}
.UIUX{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.image img{
    filter: grayscale(100%);
    width: 486px;
}
.mydetails h1{
    font-size: 50px;
}
.mydetails h5{
    font-size: 18px;
    margin-top: -10px;
}
.mydetails{
    background-color: #000000;
    padding: 5px 50px;
    color: white;
    border-radius: 16px;
}
@media (max-width: 768px) {
    .hero{
        position: relative;
        top: 100px;
        width: 100%;
    }
    .uiux{
        font-family: pop;
        font-size: 55px;
        text-align: center;
        line-height: 112%;
    }
    .uiux1{
        font-family: pop;
        font-size: 55px;
        text-align: center;
        line-height: 112%;
    }
    .myprofile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
    }
    .image img{
        filter: grayscale(100%);
        width: 300px;
    }
    .mydetails h1{
        font-size: 25px;
    }
    .mydetails h5{
        font-size: 12px;
    }
    .mydetails{
        background-color: #000000;
        padding: 5px 30px 0px;
        color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.411) 0px 2px 8px 0px;
    }
}

/* AFTER EFFECTS */
.float .ae{
    width: 60px;
    position: relative;
    float: right;
    right: 30%;
    rotate: -20deg;
}
.float{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
/* PREMIERE PRO */
.float1 .pr{
    width: 60px;
    position: relative;
    float: right;
    right: 20%;
    top: 50px;
    rotate: 28deg;
}
.float1{
    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating1 {
    from { transform: translate(0,  0px); }
    45%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* ADOBE XD */
.float .xd{
    width: 60px;
    position: relative;
    float: left;
    left: 30%;
    rotate: 20deg;
}
.float{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* RUSH */
.float1 .rush{
    width: 60px;
    position: relative;
    float: left;
    left: 20%;
    top: 50px;
    rotate: -28deg;
}
.float1{
    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating1 {
    from { transform: translate(0,  0px); }
    45%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* ILLUSTRATION */
.float2 .ai{
    width: 60px;
    position: relative;
    float: left;
    left: 20%;
    top: -150px;
    rotate: 20deg;
}
.float2{
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating3 {
    from { transform: translate(0,  0px); }
    25%  { transform: translate(0, 15px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}

/* PHOTOSHOP */
.float2 .ps{
    width: 60px;
    position: relative;
    float: right;
    right: 20%;
    top: -150px;
    rotate: -20deg;
}
.float2{
    animation-name: floating3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating3 {
    from { transform: translate(0,  0px); }
    25%  { transform: translate(0, 15px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}

/* BLENDER */
.float3 .blender{
    width: 60px;
    position: relative;
    float: right;
    right: 25%;
    top: -220px;
    rotate: 0deg;
}
.float3{
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating4 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

/* FIGMA */
.float3 .figma{
    width: 60px;
    position: relative;
    float: left;
    left: 25%;
    top: -220px;
    rotate: 0deg;
}
.float3{
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating4 {
    from { transform: translate(0,  0px); }
    35%  { transform: translate(0, 15px); }
    75%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

/* MOBILE */
@media (max-width: 768px) {
    .float .ae{
        width: 25px;
        float: right;
        right: 12.5%;
    }
    .float1 .pr{
        width: 25px;
        float: right;
        right: 13.5%;    
    }
    .float .xd{
        width: 25px;
        float: left;
        left: 5%;
    }
    .float1 .rush{
        width: 25px;
        float: left;
        left: 5%;   
    }
    .float2 .ai{
        width: 25px;
        float: left;
        left: 5%;
        top: 0%;
    }
    .float2 .ps{
        width: 25px;
        float: right;
        right: 13%;
        top: 0%;
    }
    .float3 .blender{
        width: 25px;
        float: right;
        right: 0%;
        top: -50px;
    }
    .float3 .figma{
        width: 25px;
        float: left;
        left: -10%;
        top: -50px;
    }
        
}
